/* Keyframes go here */
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 90;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  padding: 0;

  background-color: var(--white);
  color: var(--green);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);

  transition: opacity var(--transition-hover),
  visibility var(--transition-hover),
  transform var(--transition-hover),
  background-color var(--transition-hover),
  color var(--transition-hover);
}

.scroll-top-btn.is-shown {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.scroll-top-icon {
  fill: currentColor;
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .scroll-top-btn {
    bottom: 30px;
    right: 32px;
    width: 48px;
    height: 48px;
  }

  .scroll-top-icon {
    width: 14px;
    height: 8px;
  }
}

@media (hover: hover) {
  .scroll-top-btn:hover,
  .scroll-top-btn:focus {
    background-color: var(--green);
    color: var(--white);
    transform: scale(1.1);
  }
}

@media not (hover: hover) {
  .scroll-top-btn:active {
    transform: scale(0.95);
  }
}