.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 50;
  background-color: var(--white);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: none;
}

.menu-open-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  stroke: var(--black);
  transition: stroke var(--transition-hover);
}

.burger-icon {
  width: 28px;
  height: 28px;
}

.menu-open-btn:hover,
.menu-open-btn:focus {
  stroke: var(--green);
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .burger-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-open-btn {
    display: none;
  }

  .header-nav,
  .header-socials {
    display: flex;
  }

  .header-right-part {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 28px;
  }

  .nav-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: var(--black);
    transition: color var(--transition-hover);
  }

  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--green);
    transition: width var(--transition-hover);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--green);
  }

  .nav-link:hover::after {
    width: 37px;
  }
}
