<section class="about section" id="about">
  <div class="container">
    <h2 class="section-header">About <span class="about-title-accent">Us</span></h2>
    <p class="section-subheader">
      We are dedicated to providing an engaging and effective English language
      courses in a supportive and stimulating learning environment.
    </p>
    <div class="about-wrapper">
      <ol class="about-list">
        <li class="about-item">
          <p class="about-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-item">
          <p class="about-text">Wide range of course levels and options</p>
        </li>
        <li class="about-item">
          <p class="about-text">Multicultural learning environment</p>
        </li>
        <li class="about-item">
          <p class="about-text">Comprehensive language support services</p>
        </li>
      </ol>
      <div class="about-image-box">
        <picture>
          <source
            srcset="img/about/webp/about@1x.webp 1x, img/about/webp/about@2x.webp 2x"
            type="image/webp"
          />
          <img
            src="img/about/png/about@1x.png"
            srcset="img/about/png/about@2x.png 2x"
            alt="Student learning English"
            loading="lazy"
            width="400"
            height="400"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
