<section class="banner section" id="banner">
  <div class="container">
    <div class="banner-inner">
      <h2 class="visually-hidden">Proposal to leave an application</h2>

      <p class="banner-title" aria-hidden="true">
        Master the
        <span class="banner-title-accent accent">Language</span>
        with Our English Package!
      </p>

      <div class="banner-cards">
        <div class="banner-card banner-card--first" aria-hidden="true"></div>
        <div class="banner-card banner-card--second" aria-hidden="true"></div>

        <div class="banner-card banner-card--third">
          <div class="banner-card-content">
            <div class="banner-advantages">
              <h3 class="banner-subtitle">Power of English</h3>

              <ul class="banner-list">
                <li class="banner-list-item">
                  <span class="banner-badge" aria-hidden="true">
                    <svg class="banner-icon" width="16" height="16">
                      <use href="img/sprite.svg#check"></use>
                    </svg>
                  </span>
                  <span class="banner-text">
                    Dive into captivating lessons designed to stimulate your
                    curiosity.
                  </span>
                </li>
                <li class="banner-list-item">
                  <span class="banner-badge" aria-hidden="true">
                    <svg class="banner-icon" width="16" height="16">
                      <use href="img/sprite.svg#check"></use>
                    </svg>
                  </span>
                  <span class="banner-text">
                    Learn in a nurturing setting where every student’s progress
                    matters.
                  </span>
                </li>
                <li class="banner-list-item">
                  <span class="banner-badge" aria-hidden="true">
                    <svg class="banner-icon" width="16" height="16">
                      <use href="img/sprite.svg#check"></use>
                    </svg>
                  </span>
                  <span class="banner-text">
                    Experience the satisfaction of real progress as your
                    language skills and confidence grow with every session.
                  </span>
                </li>
              </ul>

              <a class="banner-cta link-button" href="#application">
                Leave an application
              </a>
            </div>

            <picture class="banner-picture">
              <source
                srcset="
                  img/banner/webp/books@1x.webp 1x,
                  img/banner/webp/books@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="banner-image"
                src="img/banner/png/books@1x.png"
                srcset="
                  img/banner/png/books@1x.png 1x,
                  img/banner/png/books@2x.png 2x
                "
                alt="Books"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
