<section class="banner section" id="banner">
  <div class="container">
    <div class="banner__inner">
      <h2 class="visually-hidden">Proposal to leave an application</h2>

      <p class="banner__title" aria-hidden="true">
        Master the
        <span class="banner__title-accent">Language</span>
        with Our English Package!
      </p>

      <div class="banner__cards">
        <div class="banner__card banner__card--first" aria-hidden="true"></div>
        <div class="banner__card banner__card--second" aria-hidden="true"></div>

        <div class="banner__card banner__card--third">
          <div class="banner__card-content">
            <div class="banner__advantages">
              <h3 class="banner__subtitle">Power of English</h3>

              <ul class="banner__list">
                <li class="banner__list-item">
                  <span class="banner__badge" aria-hidden="true">
                    <svg class="banner__icon" width="16" height="16">
                      <use href="img/sprite.svg#check"></use>
                    </svg>
                  </span>
                  <span class="banner__text">
                    Dive into captivating lessons designed to stimulate your
                    curiosity.
                  </span>
                </li>
                <li class="banner__list-item">
                  <span class="banner__badge" aria-hidden="true">
                    <svg class="banner__icon" width="16" height="16">
                      <use href="img/sprite.svg#check"></use>
                    </svg>
                  </span>
                  <span class="banner__text">
                    Learn in a nurturing setting where every student’s progress
                    matters.
                  </span>
                </li>
                <li class="banner__list-item">
                  <span class="banner__badge" aria-hidden="true">
                    <svg class="banner__icon" width="16" height="16">
                      <use href="img/sprite.svg#check"></use>
                    </svg>
                  </span>
                  <span class="banner__text">
                    Experience the satisfaction of real progress as your
                    language skills and confidence grow with every session.
                  </span>
                </li>
              </ul>

              <a class="banner__cta link-button" href="#application">
                Leave an application
              </a>
            </div>

            <img
              class="banner__image"
              src="img/banner/png/books@1x.png"
              srcset="
                img/banner/png/books@1x.png 1x,
                img/banner/png/books@2x.png 2x
              "
              alt="Books"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
