<section class="prices section" id="prices">
  <div class="container">
    <h2 class="section-header">
      Our
      <span class="prices-title-accent title-accent">lessons</span>
    </h2>
    <p class="section-subheader">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>

    <ul class="prices-list card-set">
      <li class="prices-item card-set-item">
        <p class="prices-label">Practice</p>
        <p class="prices-price">40$ / month</p>
        <p class="prices-desc">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          communication skills and confidence in using English.
        </p>
        <a class="link-button prices-btn" href="#application">
          Leave an application
        </a>
      </li>

      <li class="prices-item prices-item--accent card-set-item">
        <p class="prices-label">Standard</p>
        <p class="prices-price">70$ / month</p>
        <p class="prices-desc">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a
          class="link-button prices-btn prices-btn--accent"
          href="#application"
        >
          Leave an application
        </a>
      </li>

      <li class="prices-item card-set-item">
        <p class="prices-label">Individual</p>
        <p class="prices-price">99$ / month</p>
        <p class="prices-desc">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a class="link-button prices-btn" href="#application">
          Leave an application
        </a>
      </li>
    </ul>
  </div>
</section>
