<section class="teachers section" id="teachers">
  <div class="container">
    <h2 class="section-header">Meet our <span class="title-accent">teachers</span></h2>
    <p class="section-subheader teachers-subheader">
      Discover our team of dedicated educators, committed to guiding you on your journey to English proficiency with
      personalized and engaging instruction
    </p>
    <ul class="teachers-list card-set">
      <li class="teachers-item card-set-item">
        <picture>
          <source srcset="img/teachers/webp/teacher-1@1x.webp 1x, img/teachers/webp/teacher-1@2x.webp 2x"
            type="image/webp" />
          <img src="img/teachers/jpeg/teacher-1@1x.jpg" srcset="img/teachers/jpeg/teacher-1@2x.jpg 2x" alt="Maria"
            loading="lazy" width="160" height="160" class="teachers-img" />
        </picture>
        <p class="teachers-name">Maria</p>
        <p class="teachers-desc">
          A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience
          to every class
        </p>
      </li>
      <li class="teachers-item card-set-item">
        <picture>
          <source srcset="img/teachers/webp/teacher-2@1x.webp 1x, img/teachers/webp/teacher-2@2x.webp 2x"
            type="image/webp" />
          <img src="img/teachers/jpeg/teacher-2@1x.jpg" srcset="img/teachers/jpeg/teacher-2@2x.jpg 2x" alt="Artem"
            loading="lazy" width="160" height="160" class="teachers-img" />
        </picture>
        <p class="teachers-name">Artem</p>
        <p class="teachers-desc">
          With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students
          engaged and motivated
        </p>
      </li>
      <li class="teachers-item card-set-item">
        <picture>
          <source srcset="img/teachers/webp/teacher-3@1x.webp 1x, img/teachers/webp/teacher-3@2x.webp 2x"
            type="image/webp" />
          <img src="img/teachers/jpeg/teacher-3@1x.jpg" srcset="img/teachers/jpeg/teacher-3@2x.jpg 2x" alt="Iona"
            loading="lazy" width="160" height="160" class="teachers-img" />
        </picture>
        <p class="teachers-name">Iona</p>
        <p class="teachers-desc">
          A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in
          complex language tasks
        </p>
      </li>
      <li class="teachers-item card-set-item">
        <picture>
          <source srcset="img/teachers/webp/teacher-4@1x.webp 1x, img/teachers/webp/teacher-4@2x.webp 2x"
            type="image/webp" />
          <img src="img/teachers/jpeg/teacher-4@1x.jpg" srcset="img/teachers/jpeg/teacher-4@2x.jpg 2x" alt="Volodymyr"
            loading="lazy" width="160" height="160" class="teachers-img" />
        </picture>
        <p class="teachers-name">Volodymyr</p>
        <p class="teachers-desc">
          Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and
          industry-specific language needs
        </p>
      </li>
    </ul>
  </div>
</section>