<footer class="footer" id="footer">
  <div class="container footer-container">

    <div class="footer-contacts">
      <load src="partials/components/logo.html" />
      <address>
        <span class="footer-address-label footer-text-style">Phone Number:</span>
        <a  class="footer-address-link footer-text-style" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <span class="footer-address-label footer-text-style">Address:</span>
        <a class="footer-address-link footer-text-style" href="https://maps.app.goo.gl/97Q34Y6NJSCKT8Bx7">32a V.Bzahana ave</a>
      </address>
    </div>

    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li><a href="#about" class="footer-nav-link footer-text-style">About us</a></li>
        <li><a href="#prices" class="footer-nav-link footer-text-style">Our courses</a></li>
        <li><a href="#teachers" class="footer-nav-link footer-text-style">Teachers</a></li>
        <li><a href="#feedback" class="footer-nav-link footer-text-style">Testimonials</a></li>
        <li><a href="#application" class="footer-nav-link footer-text-style">Contact us</a></li>
      </ul>
    </nav>

    <load src="partials/components/socials.html" />

    <div class="footer-bottom">
      <p class="footer-bottom-text footer-text-style">© 2026 English Excellence. All rights reserved.</p>
      <a class="footer-bottom-link footer-text-style" href="#privacy-policy-url">Privacy Policy</a>
      <a class="footer-bottom-link footer-text-style" href="#terms-url">Terms of Service</a>
    </div>
  </div>
</footer>
