<div class="mobile-menu-wrapper js-menu-container" data-menu>
  <div class="menu-overlay js-close-menu" data-menu-close></div>

  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <button type="button" class="menu-close-btn js-close-menu" data-menu-close>
        <svg class="close-icon">
          <use href="./img/sprite.svg#close-btn"></use>
        </svg>
      </button>

      <nav class="mobile-nav">
        <ul class="mobile-nav-list">
          <li><a href="#about" class="mobile-nav-link js-close-menu" data-menu-close>About us</a></li>
          <li><a href="#prices" class="mobile-nav-link js-close-menu" data-menu-close>Our courses</a></li>
          <li><a href="#teachers" class="mobile-nav-link js-close-menu" data-menu-close>Teachers</a></li>
          <li><a href="#feedback" class="mobile-nav-link js-close-menu" data-menu-close>Testimonials</a></li>
          <li><a href="#application" class="mobile-nav-link js-close-menu" data-menu-close>Contact us</a></li>
        </ul>
      </nav>

      <load src="partials/components/socials.html" />
    </div>
  </div>
</div>